
.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light{
    background: none;
    height: 100px;
    
  
}
.nav_item{
color: rgb(253, 234, 209);
font-size: x-large;
font-weight: 600;
transition: all 0.6s ease;

text-shadow: 2px 2px 4px rgba(50, 0, 230, 0.918);
padding-left: 46px;


    
    
}
.nav_item:hover{
    transform: scale(1.1);

}
