@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Sue+Ellen+Francisco&display=swap');
#image_division{
    width: 100%;
    height: auto;
    background-image: url("../../image/bannerBg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    /* overflow: hidden; */
}
#display_main_div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:0;
}
#content{
    width: 100%;
    height: auto;
    /* margin-left: auto;
    margin-right: auto; */
    color: #fff; 

    /* z-index: 1000; */
}

#about{
    max-width: 72rem;
    height: 40vh;
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;
    background-color:transparent;
}
.parasection{
    margin-top: 4rem;
    color: #fff ;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Sue Ellen Francisco', cursive;
}

@media (max-width: 767px) {
    #about {
        height: auto;
        padding: 1rem;
    }
}

/* Styles for medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
    #about {
        height: auto;
        padding: 2rem;
    }

    .parasection {
        font-size: 24px;
    }
}
  
